{% extends 'blog/base.html' %}
{% block content %}
<div class="container mt-4">
    <span style="text-align: center; color: white; margin: auto;">
            <h1>Hashtag efficiency: </h1>
        </span>
    <table class="mt-4" style="margin: auto">
        {% for post in posts %}
        <tr>
            <td><a class="article-title" href="{% url 'post-detail' post.id %}">#{{ post.title }}</a></td>
            <td>{{ post.efficient_percent }} %</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}